<div class="container">
    <div class="contents">
        <h2>Our Intelligence</h2>
            <p>We understand brands. We understand business.<br/>
            We understand how to align them and create value.</p>
    </div>
    <div class="row imgsizes">
        <div class="col-xs-3 col-xs-offset-3">
            <img src="img/11.png"/>
        </div>
        <div class="col-xs-3">
            <img src="img/22.png" />
        </div>
    </div>
    <div class="row imgsizes">
        <div class="col-xs-3 col-xs-offset-3">
            <img src="img/33.png" />
        </div>
        <div class="col-xs-3">
            <img src="img/44.png" />
        </div>
    </div>
</div>